.img-size {
    width: 150px;
    height: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-nav {
    background-color: rgb(4, 72, 99);
    padding-bottom: 0;
    padding-top: 0;
}

.bg-body {
    background-color: rgb(237, 239, 240) !important;
}

.scale-12 {
    scale: 1.2;
    cursor: pointer;
}

.sidebar {
    background-color: rgb(42, 47, 51);
    height: auto;
}

.sidebar-menu .sidebar-menu-item:hover {
    background-color: rgb(50, 156, 229);
}

.bg-border-none {
    background-color: unset;
    border: none
}

.text-red {
    color: red;
}

.text-overlay {
    bottom: -16px;
    left: 0;
    right: 0
}

.img-h-30 {
    height: 30px;
    width: auto;
}

.underline-text {
    border-bottom: 3px solid red
}

.pl4 {
    padding-left: 4px !important;
}

.scale-08 {
    scale: 0.8;
}

.w-24 {
    width: 24%;
    margin-bottom: 2rem;
}

.item-view {
    color: #fff;
    position: absolute;
    right: 0;
    background: rgb(16, 179, 243);
    width: 55px;
    text-align: center;
    height: 27px;
}

.post .card-body {
    padding: 1em;
}

.text-opacity {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
    color: #fff;
    /* border-top: 2px solid #fff; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.list-card-vertical-right .item-view {
    transform: translate(10px);
}

.list-card-vertical-right .item-view:after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.footer {
    background-color: white;
    font-size: 16px;
    display: flex;
    width: 100%;
    min-height: 80px;
    justify-content: center;
    align-items: center;
}

.text-black-80 {
    color: rgba(0, 0, 0, 0.8);
}

.mb0-pl3 {
    margin-bottom: 0;
    padding-left: 3px;
}

.font-sz13 {
    font-size: 13px;
}

.mini-item-view-4 {
    top: 150px;
}

.mini-item-view-3 {
    top: 100px;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.ml-15 {
    margin-left: 1.5rem;
}

.ml-05 {
    margin-left: 0.25rem !important;
}

.pt-0 {
    padding-top: 0;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-20 {
    margin-bottom: 20px;
}